#tags{
  background-color: #c7ebdf;
  padding:5px;
  margin: 10px;
}

#tags:hover{
  background-color: #45BD95;
 
}

#ind-tag{
  color: #5c5c5c;
  font-size: 9px;
  -webkit-font-smoothing: antialiased;
}

#ind-tag:hover{
  text-decoration:none;
  color:white;
}

hr {
  border: 0;
  clear:both;
  display:block;
  width: 80%;               
  background-color:#f1f1f1;
  height: .5px;
}

#logo-container{
  height: 40px;
  width:40px;
  margin-top:-8px;
}

#image-container{
  height: 20px;
  width: 20px;
}

img {
  max-width: 100%;
  max-height: 100%;
}

#searchBar{
  width: 100%;
  height: 80%;
}

#searchBar::-moz-placeholder{
  font-size: 10px;
}

#searchBar::-webkit-input-placeholder{
  font-size: 10px;
}

.header_link{
  font-size: 12px;
}

.header{
  background-color: #f6f6f6;
  padding-top: 10px;
  height:40px;
  border-bottom:3px ridge lightgray;
  position: fixed; 
  top: 0;
  padding-bottom: 30px;
  opacity: 0%;
  z-index: 5;
}

#askQuestionButton{
  /* height:30px; */
  margin-top: 70px;
  background-color: #5c5c5c;
  color: white;
  right: 55px;
}

#askQuestionButton:hover{
  background-color: #45BD95;
}

#smallerText{
  font-size: 10px;
  vertical-align: text-top;
}

.header_link:hover .header_link:focus .header_link:active{
  color: #999;
  text-decoration: none;
}

.header_link{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  text-decoration: none;
  transition: color 0.1s, background-color 0.1s;
}

.header_link{
  letter-spacing: 1px;
  transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
  color: #000;
}

.header_link::before{
  content: '';
  display: block;
  position: absolute;
  bottom: 3px;
  left: 0; 
  height: 3px;
  align-content: center;
  background-color:#45BD95;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: color 0.1s,transform 0.2s ease-out;
  text-decoration: none;
}

.questions_link::before{
  width: 92%;
}

.tags_link::before{
  width: 60%;
}

.header_link:active::before{
  background-color: #000;
  text-decoration: none;
}

.header_link:hover::before, .header_link:focus::before {
  transform-origin: left top;
  transform: scale(1, 1);
  text-decoration: none;
}

.header_link:hover, .header_link:visited, .header_link:link, .header_link:active{
    text-decoration: none;
}

.header_link:hover{
  color: #45BD95;
}

#small_header_link{
  font-size: 10px;
  color: black;
}

#small_header_link:hover{
  text-decoration: underline;
  color: #45BD95;
}

#profile_pic:hover{
  border-style: solid;
  border-color: #45BD95;
  border-width: 1px;
}

.page-title{
  margin-top: -30px;
  left:40px;
}

#card-text{
  font-size: 8px;
  text-align:center;
}

.card-title{
  text-align: center;
}

.card{
  left: 40px;
}

#card{
  background-color: #f1f1f1;
  padding:0px;
}

#questions{
  margin-left: -40px;
  text-decoration: underline;
  color:#3f3f3f;
}

#questions:hover{
  color:#45BD95;
}

#date{
  font-size: 10px;
  bottom: -45px;
}

#tag-page-text{
  left: 40px;
}

#allTags{
  left:30px;
  margin-top: 20px;
}

#newQuestion{
  left:40px;
}

#newQuestionInput{
  margin-top: 10px;
}

#askQuestionTitle{
  margin-top: 70px;
}

#tagInput{
  left: -12px;
  top:10px;
}

#newQuestionTags{
  top: 20px;
  left:40px;
}

#askButton{
  margin-top: 20px;
  background-color: #5c5c5c;
  color: white;
  right: 55px;
}

#askButton:hover{
  background-color: #45BD95;
}
/* 
text-angular{
  height: 50%;
} */

#profile_img_url{
  height: 200px;
  width: 200px;
  margin-left:40px;
  border-style: ridge;
  border-color: #45BD95;
  border-width: 1px;
}

#hi{
  font-size: 20px;
  font-weight: bold;
}

#change-pic-btn{
  position: relative;
  left: 25px;
  width: 200px;
  height: 30px;
  top: -30px;
  opacity: 0.8;
  background-color:#4c4c4c;
  color: white;
}

#change-pic-btn:hover{
  opacity: 0.9;
  background-color:#3d3d3d;
}

#profile-hr{
  margin-left: 25px;
  margin-bottom: 20px;
}

#profile-title{
  margin-left: 25px;
  margin-top: 20px;
}

#profile-questions-answers{
  margin-left:40px;
  color: gray;
}