
<h3 id="ind-question-title" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">{{vm.slackOverflow.individualQuestion.question_title}}</h3>

<hr >

<div class="row">

<div id="card" style="margin-right:-50px;" class="col-xs-1 col-sm-1 col-md-1 col-lg-1 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 text-right card border-light mb-3" style="max-width: 20rem"><div class="card-body"> <h4 class="card-title">{{vm.slackOverflow.individualQuestion.num_of_views}}</h4> <p id="card-text" class="card-text">Views</p></div></div>

<div class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 col-xs-7 col-sm-7 col-md-7 col-lg-7">
<p ng-bind-html="vm.slackOverflow.individualQuestion.question_description">{{vm.slackOverflow.individualQuestion.question_description}}</p>
<div id="check-img"><img ng-if="vm.slackOverflow.individualQuestion.resolved" src="/images/check.png" width="2%" height="2%"/></div>
</div>

<div clss="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <button  class="btn btn-link" id="resolveBtn" ng-if="vm.userObject.userName==vm.slackOverflow.individualQuestion.username" ng-hide="vm.slackOverflow.individualQuestion.resolved" ng-click="vm.resolve()">resolve</button>
    <div ng-show="vm.slackOverflow.individualQuestion.resolved">
    <button class="btn btn-link unresolve-btn" id="resolveBtn" ng-click="vm.resolve()">unresolve</button>
    </div>
</div>

</div>

<div class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
<button ng-show="vm.slackOverflow.isUserAdmin" ng-click="vm.deleteQuestion(vm.slackOverflow.individualQuestion.id)" id="removeBtn" class="btn btn-outline-secondary">Remove</button> <!-- show for admin only -->
</div>

<!-- tags here -->
<div class="d-flex flex-row offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3" id="tags-in-question">
<div ng-repeat="tag in vm.slackOverflow.individualQuestion.tag_array">
        <span id="tags" class="badge badge-pill badge-plight"><a id="ind-tag" class="p-2" href="#!/tags/{{tag}}">{{tag}}</a></span>
</div>
</div>

<br>

<div id="ind-question-info" class="row offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2" id="ind-question-date">{{vm.slackOverflow.individualQuestion.posted_date}}</div>
<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pull-right float-right text-right"><img src="{{vm.slackOverflow.individualQuestion.profile_img_url}}" height="15px" width="15px" /> <p id="postedBy">posted by {{vm.slackOverflow.individualQuestion.username}}</p></div>
</div>

</div>

<hr id="bottom-hr"><br><br>

<h3 id="answer-title" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">Answers</h3>
<hr>

<div ng-repeat="answer in vm.slackOverflow.individualQuestionAnswers">

    <div class="row">
    <div id="votes" class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 col-xs-1 col-sm-1 col-md-1 col-lg-1 pull-right float-right text-right">
    <p class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1"><img src="images/arrow_up.png" id="arrow-up" ng-click="vm.upVote(answer.id, answer.votes)"/></p>
    <p class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1" id="num-of-votes">{{answer.votes}}</p>
    <p class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1"><img src="images/arrow_down.png" id="arrow-down" ng-click="vm.downVote(answer.id, answer.votes)"/></p>
    </div>

    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
    <div ng-bind-html="answer.answer"></div>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1"><button class="btn btn-link" id="deleteBtn" ng-if="vm.userObject.userName==answer.username" ng-click="vm.deleteAnswer(answer, vm.slackOverflow.individualQuestion.id)">delete</button>
    </div>
    </div>
   
    <div class="row">
    <div class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
    <div id="ind-question-date" class="answer-date">{{answer.posted_date}}</div>
    </div>
   
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 pull-right float-right text-right">
    <img id="answer-image" src="{{answer.profile_img_url}}" height="15px" width="15px" />
    <p id="postedBy" class="answer-by"> answered by {{answer.username}}</p>
    </div>
    </div>

    <hr id="bottom-hr" class="answer-hr"><br>
</div>


<h3 class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1" id="new-answer-title">Your Answer</h3>
<hr id="bottom-hr"><br>
<!-- <button ng-click="vm.upload()">Upload Image</button> -->
<div class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
<div ng-click="vm.uploadWithTextAngular()">Upload</div>

<div text-angular ta-file-drop="dropHandler" ng-model="vm.slackOverflow.newAnswer.description"></div>
</div>
<div class="offset-xs-1 offset-sm-1 offset-md-1 offset-lg-1">
<button class="btn post-answer-btn btn-sm" ng-click="vm.postNewAnswer(vm.slackOverflow.individualQuestion.id, vm.slackOverflow.newAnswer)">Post Answer</button>
</div>
<br><br>