<h3>{{vm.slackOverflow.individualQuestion.question_title}}</h3>

<p>{{vm.slackOverflow.individualQuestion.question_description}}</p>

<div ng-repeat="answer in vm.slackOverflow.individualQuestionAnswers">
    <div ng-bind-html="answer.answer"></div>
    <!-- <img ng-src="{{answer.img_url}}" height="200px" width="auto">  -->
    {{answer.posted_date}}
    {{answer.votes}}
    {{answer.username}}
    <button ng-click="vm.deleteAnswer(answer, vm.slackOverflow.individualQuestion.id)">delete</button>
</div>

<h3>Your Answer</h3>
<!-- <button ng-click="vm.upload()">Upload Image</button> -->
<text-angular ng-model="vm.slackOverflow.newAnswer.description"></text-angular>
<button ng-click="vm.postNewAnswer(vm.slackOverflow.individualQuestion.id, vm.slackOverflow.newAnswer)">Post Answer</button>
