<div class="container">
    <br><br>
    <div class="row">
    <div class="offset-xs-3 offset-sm-3 offset-md-3 offset-lg-3 col-xs-12 col-sm-12 col-md-12 col-lg-12 center-block"> 
        <div class="register-container">
  <h1 class="lead">Register User</h1><br>
  <form ng-submit="vm.registerUser()">
    <div>
        <label for="username">Username:</label><br>
        <input type="text" ng-model="vm.user.username" />
    </div><br>
    <!-- <div>
        <label for="email">Email:</label>
        <input type="email" ng-model="vm.user.email" />
    </div> -->
    <div>
        <label for="password">Password:</label><br>
        <input type="password" ng-model="vm.user.password" />
    </div><br>
    <input class="btn-sm login-btn" type="submit" name="submit" value="Register" />
    <a class="register-btn" href="#!home">Cancel</a>
  </form>
  <h1 class="alert" role="alert" id="login-alert" ng-if="vm.message != ''">{{vm.message}}</h2>
</div>
</div>
</div>
</div>

