
<h3 class="offset-xs-1 col-xs-12 offset-sm-1 col-sm-12 offset-md-1 col-md-12 offset-lg-1 col-lg-12 page-title">Tags</h3>
        
<hr>
<p id="tag-page-text" class="offset-xs-1 col-xs-12 offset-sm-1 col-sm-12 offset-md-1 col-md-12 offset-lg-1 col-lg-12">A tag is a keyword that categorizes your question.</p>

<div id="tag-page-text" class="offset-xs-1 col-xs-12 offset-sm-1 col-sm-12 offset-md-1 col-md-12 offset-lg-1 col-lg-12">Type to find tags:
    <input type="text" ng-model="vm.searchTags">
</div>

<div id="allTags" class="row offset-xs-1 col-xs-10 offset-sm-1 col-sm-10 offset-md-1 col-md-10 offset-lg-1 col-lg-10">
<div ng-repeat="tag in vm.slackOverflow.allTags|filter:vm.searchTags">
        <span id="tags" class="badge badge-pill badge-plight"><a id="ind-tag" class="p-2" href="#!/tags/{{tag.tag_name}}">{{tag.tag_name}}</a></span>
</div>
</div>


