<section id="technologies">

    <h3 id="link">https://slack-overflow-prime.herokuapp.com</h3>
    <br>
    <h4 id="glink">www.github.com/crouton21</h4>
    <br>

    <h4>Technologies</h4>

    <ul id="tech-list">
        <li>SQL</li>
        <li>AngularJS</li>
        <li>Node.js</li>
        <li>Express</li>
        <li>Text Angular</li>
        <li>Ng Tags Input</li>
        <li>Bootstrap</li>
        <li>Sweetalert</li>
        <li>dirPagination</li>
        <li>Filestack</li>
        <li>Heroku</li>
        <li>Passoport</li>
        <li>Slash Commands</li>
    </ul>





</section>